
@{
    ViewBag.Title = "EJEMPLO DE TABLAS";
}
<h1>TABLAS Básicas</h1>
<table border="1">
    <tr>
        <th>CABECERA 1</th>
        <th>CABECERA 2</th>
        <th>CABECERA 3</th>
    </tr>
    <tr>
        <td>DATO 1</td>
        <td>DATO 2</td>
        <td>DATO 3</td>
    </tr>
    <tr>
        <td>DATO 4</td>
        <td>DATO 5</td>
        <td>DATO 6</td>
    </tr>
</table>




