
@{
    ViewBag.Title = "EJEMPLO DE TABLAS AVANZADAS";
}

<h1>TABLAS Avanzadas</h1>

<table width="50%" border="1", cellspacing="3", cellpadding="2">
    <tr>
        <td colspan="2", align="right">DATO1</td>
        <td>Cualquier Texto.</td>
        <td rowspan="2">Dato 3</td>
    </tr>

    <tr>
        <td>DATO 4</td>
        <td>DATO 4</td>
        <td align="center">DATO 5</td>
    </tr>
</table>