    @{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>HTML</h2>
            <h3>CLASE 1</h3>
            <ul>
                <li>@Html.ActionLink("Tablas", "Tablas", "HTML")</li>
                <li>@Html.ActionLink("Tablas Avanzadas", "TablasAvanzadas", "HTML")</li>
            </ul>
    </div>
    <div class="col-md-4">
        <h2>CSS</h2>
        <h3>CLASE 1</h3>
        <ul>
            <li>Tablas.</li>
            <li>Listas.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>JavaScript</h2>
        <h3>CLASE 1</h3>
        <ul>
            <li>Tablas.</li>
            <li>Listas.</li>
        </ul>
    </div>
</div>